:root {
    --bg-page: #040D17;

    --palette-0: #FD7C21;
    --palette-1: #016DFC;
    --palette-2: #C6AE02;
    --palette-3: #3AA336;
    --palette-4: #A695C5;
    --palette-5: #e3453e;
}


.container {
    max-width: 700px;       /* same as #events max-width */
    width: 90%;             /* responsive width */
    margin: 0 auto;         /* centers the column horizontally */
    padding: 2rem 1rem;     /* breathing room from top/bottom and sides */
    box-sizing: border-box;
}

.title-img {
    aspect-ratio: 1019 / 716;
    background-color: #C6AE02;
    mask-image: url(/images/title.png);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

body {
    background-color: var(--bg-page);
    background-image: url('images/black-card-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    color: #eee;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: normal;
}

.events-section {
    margin-top: 4rem;
}

#events {
    margin: 2rem auto;
}


.event {
    --event-bg: var(--palette-0);

    color: #040D17;
    background: var(--event-bg, #f6f1e7);

    padding: 16px 18px;
    margin: 20px 0;

    border-radius: 0;

    display: flex;
    flex-direction: column;
    gap: 6px;

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

p {
    line-height: 1.6;
    margin: 0 0 1.4rem 0;
    color: #ddd;
}

.time {
    color: #ddd;
    font-size: 0.9em;
}

.subtitle {
    margin-top: 4rem;
}

.film-background-section {
    margin-top: 4rem;
}


.film-background-section p {
    line-height: 1.65;
    font-size: 0.95rem;
    margin-bottom: 4rem;
}




.footer-img {
    aspect-ratio: 1019 / 716;
    background-color: #ddd;
    mask-image: url(/images/footer-card.png);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    margin-bottom: 4rem;  
}